@import '../share/main.css';
@import '../share/navbar.css';


.container-xl{
  padding-inline: 2rem;

  & .wrapper{
    margin-block: 7rem;

    & .welcome-container{
      width: 100%;
      padding: 2rem;
      border-radius: .5rem;
      border: 1px solid lightgray;
      margin-bottom: 1rem;

      & h3{
        margin-bottom: 1rem;
      }
      
      & a{   
        background-color: var(--primary);    
        &:hover{
          color: var(--secondary);
          text-decoration: underline wavy 1px var(--secondary);
        }
      }
    }

    & .grid-container{
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(5, 1fr);
    
    
      & .box{
        background-color: var(--box);
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & .title{
          font-size: 1rem;
          color: var(--secondary);
          margin: 0 0 0.25rem;
        }
        
        & .value{
          font-size: 2rem;
          color: var(--text);
          margin: 0;
        }
      }
    }
    
    & .btns{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: 3rem;

      & .download{
        display: flex;
        align-items: center;
        gap: .5rem;
        
        & form button{
          padding: .8rem 1rem;
          border: none;
          background-color: var(--secondary);
          color: var(--white);
          border-radius: .3rem;
          transition: .3s ease-in-out;

          & span{
            display: flex;
            gap: .5rem;

            & img{
              width: var(--text-md);
            }
          }

          &:hover{
            background-color: var(--tertiary)
          }
        }
      }
    }
    
    & .chart-container{
      display: grid;
      gap: 4rem;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 350px;

      & .chart-box{
        width: 100%;
        height: calc(100% - 50px);;

        & canvas{
          width: 100%!important;
          height: 100%!important;
        }

        & .download-btn{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: 2rem;

          & button{
            padding: .8rem 1rem;
            background-color: var(--secondary);
            color: white;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
     
            transition: .3s ease-in-out;

            &:hover{
              opacity: .9;
            }
          }
        }
      }
    }
  }
}


@media(max-width: 1200px){
  .container-xl .wrapper .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1000px){
  .container-xl .wrapper .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 880px){
  .container-xl .wrapper .chart-container{
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media(max-width: 768px){
  .container-xl .wrapper .grid-container{
    grid-template-columns: 1fr;

    & .box{
      & .title,
      & .value{
        text-align: center;
      }
    }
  }

  .container-xl .wrapper .btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-block: 3rem 5rem;

    & .header{
      margin-block: 0;
      font-size: var(--text-lg);
    }
  }
}

@media(max-width: 546px){

  .container-xl .wrapper .btns .download{
    flex-direction: column;
    align-items: unset;
    width: 100%;

    & form button{
      width: 100%;
      border-radius: .3rem;

      & span{
        justify-content: center;
      }
    }
  }
}






