@import '../share/main.css';
@import '../share/navbar.css';

.container-sm .wrapper{
  margin-block: 7rem;

  & .header{
    text-align: center;

    & .profile-picture{
      display: block;
      margin: 2rem auto;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }

  & .profile-info{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-block: 2rem;

    & .info {
      flex: 1;
      padding: 1rem;

      & h3{
        color: #333;
        margin-bottom: .8rem;
      }
    }
  }

  & .edit-profile-form{
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid lightgray;

    & h3{
      font-size: 1.2rem;
      margin-bottom: 1.1rem;
      color: #333;
    }

    & label{
      color: #333;
      display: block;
      margin-bottom: .5rem;
    }

    & input[type="text"],
    & input[type="email"],
    & input[type="file"],
    & button{
      width: 100%;
      padding: .8rem 1rem;
      margin-bottom: 1.1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-sizing: border-box;

      &:focus{
        outline: 1px solid var(--secondary)
      }
    }

    & button{
      display: block;
      width: max-content;
      margin: auto;
    }
  }
} 


@media screen and (max-width: 768px){
  .container-sm .wrapper{
    & .profile-info{
      flex-direction: column;
      text-align: left;
      justify-content: none;
      margin-block: 2rem;
  
      & .info{
        flex: 1;
        padding: 2rem;
      }
    }
  
    & .edit-profile-form{
      border: unset;  
    }
  } 
}