@import '../../share/main.css';
@import '../../share/navbar.css';


.content-container{
  margin-block: 7rem;
  padding-inline: 2rem;

  & .text{
    & h2{
      font-weight: var(--fw-600);
      margin-bottom: 1rem;
    }

    & h3{
      font-weight: var(--fw-400);
      padding-bottom: 1.5rem;
      border-bottom: 1px solid lightgray;
    }
  }

  & .action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
    
    & .mini-container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3rem;
 
      & .search-bar{
        position: relative;
        display: flex;
        width: 200px;
    
        & input{
          display: block;
          padding: 0 2.3rem;
          height: 2.7rem;
          border-radius: .5rem;
          border: 1px solid var(--gray);
          background-color: var(--primary);
        }
    
        & .icon{
          height: 1.3rem;
          position: absolute;
          top: 50%;
          left: .7rem;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
    }
  
    & .view-delete{
      transition: .3s ease-in-out;
      &:hover{
        color: var(--secondary);
        text-decoration: underline 1px wavy var(--secondary);
      }
    }
    
  }

  & .container-grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    position: relative;

    & .no-course{
      font-weight: var(--fw-500);
      margin-top: 3rem;
      text-align: center;
      position: absolute;
      top:2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    & .card{
      background-color: var(--primary);
      border-radius: .5rem;
      border: 1px solid lightgray;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      position: relative;

      & .publish{
        position: absolute;
        top: 0;
        right: 0;
        color: var(--white);
        background-color: var(--secondary);
        padding: .8rem 1rem;
        border-radius: 0 .5rem 0 0;
        z-index: 10;
      }
    
      &:hover{
        & .card-image img{
          transform: scale(1.05);
        }
      }
    
      & .card-image{
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-radius: .5rem .5rem 0 0;
    
        & a img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: .3s ease-in-out;
          cursor: pointer;
        }
      }
      
      & .card-content{
        padding: 1.1rem;

        & .card-title{
          color: var(--black);
          font-weight: 500;
          font-size: var(--text-md);
          color: var(--secondary);

          &:hover{
            text-decoration: underline wavy 1px var(--secondary);
          }
        }
    
        & .card-description{
          margin-top: 0.5rem;
        }
    
        & .enrollment-form{
          margin-top: 1.2rem;

          & .btn-primary,
          & .btn-disabled{
            display: block;
            height: auto;
            width: 80%;
            margin-inline: auto;
            padding: .8rem 1rem;
            border-radius: .5rem;
          }

          & .btn-disabled{
            font-size: var(--text-md);
            background-color: lightgray;
            border: none;
          }
        }
      }
    }
  }
}

.card-btn:hover::before{
  width: 100%;
}


@media screen and (max-width: 800px){
  .content-container .container-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px){
  .content-container .container-grid{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 468px){
  .content-container .action-container{
    flex-direction:column;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    
    & .mini-container{
      flex-direction:column;
      align-items: unset;
      justify-content: center;
      gap: 1rem;

      & .search-bar{
        position: relative;
        display: flex;
        width: 100%;
    
        & input{
          display: block;
          padding: 0 2.3rem;
          height: 2.7rem;
          border-radius: .5rem;
          border: 1px solid var(--gray);
          background-color: var(--primary);
          width:100%;
        }
    
        & .icon{
          height: 1.3rem;
          position: absolute;
          top: 50%;
          left: .7rem;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
    }
  }
}

