/* fonts */
@font-face {
  font-family: 'rubik';
  src: url('../../fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('../../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}


*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  /* ?colors */
  --primary: rgba(247, 242, 238, 1);
  --secondary: rgba(200, 30, 77, 1);
  --tertiary: rgba(106, 14, 39, 1);
  --black: rgba(1, 1, 1, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(113, 113, 113, 1);

  --invalid: rgba(255, 66, 66, 1);
  --valid: rgba(50, 205, 50, 1);

  /* ?fonts */

  /* font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;

  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  

  /* ? */
  --mt: 8rem;
  --border-rad: .2rem;
}

::selection{
  background-color: rgba(106, 14, 39, 1);
  color: rgba(247, 242, 238, 1);
}

body::-webkit-scrollbar {
  display: none;
}


/* utilities */
.container-xl{
  width: min(1400px, 100%);
  margin-inline: auto;
}

.container-lg{
  width: min(1200px, 100%);
  margin-inline: auto;
}

.container-md{
  width: min(1100px, 100%);
  margin-inline: auto;
}
.container-sm{
  width: min(850px, 100%);
  margin-inline: auto;
}

.btn-primary{
  width: 100%;
  height: 2.8rem;
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: var(--text-md);
  font-weight: var(--fw-500);
  border-radius: var(--border-rad);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: .3s ease-in-out;

  &::before{
    content: "";
    position: absolute;
    background: var(--secondary);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .4s ease-in-out;
  }
}

.btn-secondary{
  width: 100%;
  height: 2.8rem;
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--secondary);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  transition: .3s ease-in-out;

  & a{
    background-color: transparent;
    border: none;
    font-size: var(--text-md);
    font-weight: var(--fw-500);
    width: 100%;
  }

  &:hover{
    border-color: var(--secondary);
    & a{
      color: var(--white);
    }
  }

  &::before{
    content: "";
    position: absolute;
    background: var(--secondary);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .4s ease-in-out;
  }
}

.btn-primary:hover::before,
.btn-secondary:hover::before{
  width: 100%;
}
  
.bg-food{
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23c81e4d' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/* resets */

body{
  background-color: var(--white);
  color: var(--black);
  font-family: roboto, sans-serif;
  font-weight: var(--fw-400);
  font-size: var(--text-md);
  line-height: 1.5;
}

h1, h2, h3, h4, h5{
  font-family: roboto;
  line-height: 1.1;
}

h1{
  font-size: var(--text-3xl); 
}

h2{
  font-size: var(--text-2xl); 
}

h3{
  font-size: var(--text-xl); 
}

h4{
  font-size: var(--text-lg); 
}

@media screen and  (max-width: 768px){
  h1{
    font-size: var(--text-2xl); 
  }
  
  h2{
    font-size: var(--text-xl); 
  }
  
  h3{
    font-size: var(--text-lg); 
  }
  
  h4{
    font-size: var(--text-md); 
  }
}

@media screen and  (max-width: 500px){

  h1{
    font-size: var(--text-xl); 
  }
  
  h2{
    font-size: var(--text-lg); 
  }
  
  h3{
    font-size: var(--text-lg); 
  }
  
  h4{
    font-size: var(--text-md); 
  }
}



a{
  text-decoration: none;
  color: var(--black);
}

ul li{
  list-style: none;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

button, a, input{
  cursor: pointer;
}

