@import './share/main.css';

.reset-password-container{
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;

  & .wrapper{
    display: none;

    & h2{
      margin-bottom: 1rem;
      text-align: center;
      
      & span{
        color: var(--invalid);
      }
    }

    & form{
      width: max-content;
      padding: 3rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      border: 1px solid lightgray;
      border-radius: 1rem;
  
      & label{
        font-weight: var(--fw-500);
      }
  
      & .input-box{
        position: relative;
        display: flex;
        width: 100%;
    
        & input{
          display: block;
          padding: 0 2.3rem;
          height: 2.8rem;
          flex: 1;
          border-radius: var(--border-rad);
          border: 2px solid var(--gray);
        }
    
        & .icon{
          height: 1rem;
          position: absolute;
          top: 50%;
          left: .7rem;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
    }
  }
}


.wrapper.active{ 
  display: grid; 
}

/* error message */
.error-msg{
  color: var(--invalid);
  text-align: center;
  margin-bottom: .5rem;
}