@import './share/main.css';

body{
  background-color: var(--white);
}

.header{
  font-family: roboto;
  font-weight: var(--fw-800);
  margin-bottom: 1rem;
}

.text #logo{
  width: 250px;
  margin: auto;
}

.signup-container{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  & .flex-container{
    display: flex;
    align-items: center;
    padding: 0 2rem;

    & > div{
      flex: 1;
    }
  }
}

.signup-right-section{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
  padding: 1rem 0 0 3rem;
}

.signup-right-section .text #logo{
  width: 150px;
  margin-bottom: .5rem;
}

.signup-right-section 
.signup-form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  & label{
    font-weight: var(--fw-600);
  }
  
  & .input-box{
    position: relative;
    display: flex;
    width: 100%;

    & input{
      display: block;
      padding: 0 2.3rem;
      height: 2.8rem;
      flex: 1;
      border-radius: var(--border-rad);
      border: 2px solid var(--gray);
    }

    & .icon{
      height: 1rem;
      position: absolute;
      top: 50%;
      left: .7rem;
      transform: translateY(-50%);
      z-index: 1;
    }

    & .eye-icon{
      height: 1rem;
      position: absolute;
      top: 50%;
      right: .7rem;
      transform: translateY(-50%);
      z-index: 1;
    }

    & .eye-click{
      display: none;
    }
  }

  & .check-password{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .8rem;
  }

  & .buttons{
    display: flex;
    gap: 1rem;
  }
}

label span.required{
  color: red;
}

/* bday & select input */

.bday input[type="date"],
.select-role select{
  width: 100%;
  padding: 0 1.5rem 0 1rem;
  height: 2.8rem;
  border-radius: var(--border-rad);
  border: 2px solid var(--gray);
}

.select-role select option{
  padding: .5rem;
  background-color: var(--white);
  cursor: pointer;
}

.bday input[type="date"]::-webkit-calendar-picker-indicator{
  background-color: var(--white);
  border-radius: var(--border-rad);
  padding: .5rem;
}

.bday input[type="date"]::-webkit-calendar-picker-indicator:hover{
  background-color: var(--tertiary);
  cursor: pointer;
}

/* validation */

input:valid,
input:focus:valid,
input:not(:placeholder-shown):valid{
  outline-color: var(--valid);
}

input:invalid{
  outline-color: var(--invalid);
}

input:not(:placeholder-shown):invalid{
  outline-color: yellow;
}


/* mini layout*/
.mini-form-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* error message */
.error-msg{
  color: var(--invalid);
}

.eye{
  position: absolute;
  top: 50%;
  right: 1rem;  
  transform: translateY(-50%);
  width: var(--text-lg);
  cursor: pointer;
}


/* ? media queries */

@media (max-width: 1024px) {
  .signup-left-section{
    display: none;
  }

  .text .header,
  .text .sub-header{
    text-align: center;
  }

  .signup-right-section{
    gap: 0;
    padding: 0;
  }

  .signup-right-section .signup-form{
    margin-top: 1.5rem;
  }
}


@media (max-width: 480px) {
  .text .header{
    font-size: var(--text-2xl);
  }

  .mini-form-container{
    grid-template-columns: 1fr;
  }

  flex-container{
    padding: 1rem;
  }
}
