@import '../../share/main.css';
@import '../../share/navbar.css';
@import '../../teacher/course/sidebar.css';

body{
  background-color: var(--white);
}

.content-container{
  margin-block: 6rem 10rem;
  padding-inline: 2rem;
  transition: transform .3s ease-in-out;
  transform: translateX(0);

  & .tabs{
  
    & nav{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid lightgray;

      & a{
        font-size: var(--text-lg);
        font-weight: var(--fw-500);
        border-bottom: 1px solid lightgray;
        padding: 1rem;
        border-bottom: 4px solid transparent;
        transition: .3s ease-in-out;

        &:hover{
          color: var(--secondary);
          border-color: var(--secondary);
        }
      }

      & a.active{
        color: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }
  

  & .course-container{
    & .course-content{
      margin-bottom: 2rem;

      & .module-section{
        margin-bottom:2rem;
      }

      & .course-picture{
        width: 100%;
        height: 200px;
        border-radius: .5rem;
  
        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }

      & .course-title{
        margin-block: 2rem;
      }

      & .course-description{
        font-style: italic;
        text-indent: 1rem;
        margin-bottom:1rem;
      }
    }

    /* accordion */
    & .accordion-container{
      width: 100%;
      background: var(--white);
      border-radius: .8rem;
      overflow: hidden;
      margin-bottom: 1rem;
  
      & .accordion-item{
        border-bottom: 1px solid #eaeaea;
  
        & .accordion-title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem 2rem;
          font-weight: var(--fw-500);
          cursor: pointer;
          position: relative;
          transition: .3s ease-in-out;
  
          &:hover{
            background-color: #f9f9f9;
          }
  
          & span{
            display: flex;
            align-items: center;
            gap: .5rem;
  
            & img{
              width: var(--text-2xl);
            }
          }
        }
      }
  
      & .accordion-title::after{
        content: '▼';
        font-size: 1rem;
        transition: .3s ease-in-out;
      }
  
      & input[type="checkbox"]{
        display: none;
      }
  
      & .accordion-content{
        max-height: 0;
        overflow: hidden;
        padding: 0 2rem;
        color: var(--black);
        transition: .3s ease-in-out;

        & .module-description{
          text-indent: 1rem;
          font-style:italic;
          margin-bottom: 2rem;
        }
      }
  
      & input[type="checkbox"]:checked ~ .accordion-content{
        max-height: max-content;
        padding-block: 2rem;
      }
      
      & input[type="checkbox"]:checked + .accordion-title{
        background: #eaeaea;
      }
  
      & input[type="checkbox"]:checked + .accordion-title::after{
        transform: rotate(180deg);
      }
    }
  }
}

.accordion-container2{
  width: 90%;
  margin: 2rem auto 0;
  background: var(--white);
  border-radius: .8rem;
  overflow: hidden;

  & .accordion-item2{
    border-bottom: 1px solid #eaeaea;

    & .accordion-title2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      font-weight: var(--fw-500);
      cursor: pointer;
      position: relative;
      transition: .3s ease-in-out;

      &:hover{
        background-color: #f9f9f9;
      }

      & span{
        display: flex;
        align-items: center;
        gap: .5rem;

        & img{
          width: var(--text-2xl);
        }
      }
    }
  }

  & .accordion-title2::after{
    content: '▼';
    font-size: 1rem;
    transition: .3s ease-in-out;
  }

  & input[type="checkbox"]{
    display: none;
  }

  & .accordion-content2{
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
    color: var(--black);
    transition: .3s ease-in-out;

    & .lesson-content{
      text-indent: 1rem;
      font-style: italic;
    }

  }

  & input[type="checkbox"]:checked ~ .accordion-content2{
    max-height: max-content;
    padding-block: 2rem;
  }

  & input[type="checkbox"]:checked + .accordion-title2{
    background: #eaeaea;
  }

  & input[type="checkbox"]:checked + .accordion-title2::after {
    transform: rotate(180deg);
  }
}

.hr{
  margin-block: 2rem;
  border: 1px dashed #eaeaea;
}

.desc, .content{
  margin-block:1rem!important;
  color: var(--gray);
}





@media screen and (max-width: 768px){

  /* accordion */
  .accordion-container2{
    width:100%!important;
  }

  .accordion-content,
  .accordion-content2{
    padding: 0!important;
  }

  .accordion-title, 
  .accordion-title2{
    padding: 1.5rem 1rem!important;
    align-self:center;

    & img{
      width: var(--text-2xl)!important;
    }
  }

  .module-description,
  .lesson-content{
    margin-bottom:2rem!important;
  }

}